@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  color: hsl(211.58, 9%, 58.63%);
  box-shadow: 2rem;
}
.sr-only {
  display: none;
}
footer {
  font-size: 0.6875rem;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  width: 100%;
}
footer a {
  color: hsl(228, 45%, 44%);
}
main {
  max-width: 360px;
  margin: 0 auto;
}
.card {
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  border-radius: 15px;
  text-align: center;
  margin: 1.5rem;
}
.card img {
  width: 100%;
  border-radius: 12px;
}
h2,
p {
  padding: 0.65rem 0;
}
